/* .inner-banner-section {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.313);
}

.banner-title {
  font-size: 120px;
  font-weight: 900;
  line-height: 156px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-align: center;

  max-width: 900px;

  position: relative;
} */

@media screen and (max-width: 768px) {
  .banner-title {
    font-size: 60px;
    font-weight: 900;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: center;
  }
  .about-scroll-btn {
    display: none;
  }
}

.about-scroll-btn {
  position: absolute;
  bottom: 60px;

  color: black;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

/*******************************
      scrolling cards
*******************************/

:root {
  /* .about-cards-section { */
  --cards: 3;
  --cardTopPadding: 4.9em;
  /* --cardTopPadding: 10em; */
  /* --cardHeight: 87vh; */
  --cardHeight: 67vh;
  --cardMargin: 4vw;

  @media screen and (max-width: 768px) {
    --cardTopPadding: 2.5em;
    /* --cardHeight: 95vh; */
    --cardHeight: 70vh;
  }
}

.about-cards-section {
  margin: 0 60px;
  /* background-color: red; */

  @media screen and (max-width: 768px) {
    margin: 24px 24px;
  }
}

#about-cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

#about-card1 {
  --index: 1;
}
#about-card2 {
  --index: 2;
}
#about-card3 {
  --index: 3;
}

.about-card {
  position: sticky;
  top: 0px;
  padding-top: calc(var(--index) * var(--cardTopPadding));

  @media screen and (max-width: 768px) {
    top: 120px;
  }
}

#about-card1 .about-card-body {
  background-color: #ffdd78;
}
#about-card2 .about-card-body {
  background-color: #c3dfff;
}
#about-card3 .about-card-body {
  background-color: #dcd2f7;
}

.about-card-body {
  box-sizing: border-box;
  padding: 60px;
  /* box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1); */
  /* height: var(--cardHeight); */
  height: 445px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: all 0.5s;

  @media screen and (max-width: 768px) {
    padding: 32px;
    height: var(--cardHeight);

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
}

.about-content-div {
  width: 590px;
  /* height: 207px; */

  @media screen and (max-width: 768px) {
    width: 278px;
  }
}

.about-content-div p:nth-child(1) {
  font-size: 72px;
  font-weight: 500;
  line-height: 93px;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    font-size: 48px;
    line-height: 62px;
  }
}

.about-content-div p:nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;

  margin-top: 24px;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.about-content-cards-count {
  font-size: 48px;
  font-weight: 500;
  line-height: 63px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}
