root {
  --services-hover-color: #303030;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #f2f2f2;
}

/* scroll button in banner */

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-animation {
  animation: scrollAnimation 2s ease infinite;
}

@keyframes gravityIcon1 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(15px) rotate(10deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes gravityIcon2 {
  0% {
    transform: translateY(0) rotate(10);
  }
  50% {
    transform: translateY(15px) rotate(20deg);
  }
  100% {
    transform: translateY(0) rotate(10deg);
  }
}

@keyframes gravityIcon3 {
  0% {
    transform: translateY(0) rotate(30deg);
  }
  50% {
    transform: translateY(15px) rotate(40deg);
  }
  100% {
    transform: translateY(0) rotate(30deg);
  }
}

.gravity-icon:nth-child(1) {
  animation: gravityIcon1 10s ease infinite;
}

.gravity-icon:nth-child(2) {
  animation: gravityIcon2 10s ease infinite;
}

.gravity-icon:nth-child(3) {
  animation: gravityIcon3 10s ease infinite;
}

.hero-scroll-icon-div {
  display: flex;
  align-items: center;
  gap: 12px;

  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.hero-scroll-icon-div.hide {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

/* default button */

.default-button {
  padding: 12px 16px;
  border-radius: 8px;
  border: solid 1px #000;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
}

.light-bg-btn {
  border: solid 1px #000;
  color: #000;
}

.light-bg-btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s all;
}

.dark-bg-btn {
  border: solid 1px #fff;
  color: white;
}

.dark-bg-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s all;
}

@media (max-width: 768px) {
  .light-bg-btn:hover {
    background-color: initial;
    color: #000;
    transition: none;
  }

  .dark-bg-btn:hover {
    background-color: initial;
    color: white;
    transition: none;
  }
}

/* section title  */

.section-title {
  margin-bottom: 10px;
}

.section-title h2 {
  font-size: 72px;
  font-weight: 500;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    /* font-size: 48px; */
    font-size: 32px;
    font-weight: 500;
    line-height: 63px;
  }
}

/* default-input-Fields */

.default-input {
  width: 100%;

  display: grid;
  gap: 8px;

  font-size: 16px;
  font-weight: 400;
}

.default-input label {
  text-transform: capitalize;
}

.default-input input {
  height: 70px;
  padding-left: 24px;
  font-size: 16px;
  outline: none;

  border-radius: 8px;
  border: 0.5px solid #000;
}

/* .textarea-icon-input */

.default-input textarea {
  height: 186px;
  padding: 24px;
  font-size: 16px;
  outline: none;

  border-radius: 8px;
  border: 0.5px solid #000;
}

/* .files-upload-input */

.default-input .files-input {
  height: 107px;
  padding-left: 24px;
  font-size: 16px;
  outline: none;

  border-radius: 8px;
  border: 0.5px dashed #000;
  line-height: 107px;
}

/* .country-icon-input */

.default-input.with-icon .input-container {
  position: relative;
}

.default-input.with-icon .country-icon {
  display: flex;
  align-items: center;
  gap: 28px;

  height: 70px;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
  border: 0.5px solid #000;
}

.default-input.with-icon input {
  border: 1px solid black;

  height: 68px;
  border: none;
}

.flag-border-checkout {
  outline: none;
  border-radius: 8px;
  width: 100%;
  background-color: #fff;
  padding-left: 16px;
}

/* Pagination styles start*/

.pagination-section {
  width: 100%;
  display: flex;
  /* justify-content: end; */
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.custom-pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  font-size: 18px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.custom-pagination-item {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;

  @media screen and (max-width: 768px) {
    margin: 0 5px;
  }
}

.custom-pagination-active {
  background-color: #f7931e;
  color: #fff;
}
/* Pagination styles end*/

/* read-full-btn */

.read-full-btn {
  display: flex;
  /* justify-content: start; */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.read-full-btn p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  border-bottom: 1px solid;
}

/* **********************************
              DropDown
********************************** */

.drop-down-section {
  position: relative;
  display: inline-block;

  z-index: 1;
}

.drop-down-section button {
  display: flex;
  align-items: center;
  gap: 14px;

  background-color: #fff;
  text-transform: capitalize;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px;

  font-size: 16px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    padding: 12px;
    font-size: 14px;
  }
}

.drop-down-section button p {
  text-transform: capitalize;
}

.dropdown-menu {
  /* min-width: 353px; */
  min-width: 300px;
  position: absolute;
  top: 100%;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-5%);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  background-color: #ffffff;
  list-style-type: none;
  margin-top: 8px;

  border-radius: 4px;
  border: 0.5px solid #000000;

  @media screen and (max-width: 768px) {
    margin-top: 4px;
  }
}

.dropdown-menu.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

.dropdown-menu li {
  display: flex;
  align-items: center;

  font-size: 16px;
  height: 45px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0px 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    padding: 0px 12px;
  }
}

.dropdown-menu li:first-child {
  height: 60px;
  padding-top: 16px;

  @media screen and (max-width: 768px) {
    padding-top: 12px;
  }
}

.dropdown-menu li:last-child {
  height: 60px;
  padding-bottom: 16px;

  @media screen and (max-width: 768px) {
    padding-bottom: 12px;
  }
}

.dropdown-menu li:hover {
  background-color: #8787871d;
}

/* **********************************
          Services DropDown
********************************** */

.form-drop-down-section {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

.form-drop-down-section div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  width: 100%;

  background-color: #fff;
  text-transform: capitalize;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 16px;

  font-size: 16px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    padding: 16px;
    font-size: 14px;
  }
}

.form-drop-down-section div p {
  font-size: 16px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  text-transform: capitalize;
}

.form-dropdown-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-5%);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  background-color: #ffffff;
  list-style-type: none;
  margin-top: 8px;

  border-radius: 4px;
  border: 0.5px solid #000000;

  @media screen and (max-width: 768px) {
    margin-top: 4px;
  }
}

.form-dropdown-menu.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

.form-dropdown-menu li {
  display: flex;
  align-items: center;

  font-size: 16px;
  height: 45px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0px 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    padding: 0px 12px;
  }
}

.form-dropdown-menu li:first-child {
  height: 60px;
  padding-top: 16px;

  @media screen and (max-width: 768px) {
    padding-top: 12px;
  }
}

.form-dropdown-menu li:last-child {
  height: 60px;
  padding-bottom: 16px;

  @media screen and (max-width: 768px) {
    padding-bottom: 12px;
  }
}

.form-dropdown-menu li:hover {
  background-color: #8787871d;
}

/* ********************************
        page transition
******************************** */

.page-transition {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ***************************
      scroll-animated-ref
*************************** */

.visible-section {
  opacity: 0;
  transition: transform 2s ease, opacity 1s ease;
}

.visible-section.animated-ref {
  opacity: 1;
}
