.team-banner-section {
  display: grid;
  place-items: center;
  text-align: center;
  gap: 60px;

  margin: 0 60px;
}

.banner-content-wrapper {
  position: relative;
}

.banner-content-wrapper img {
  width: 100%;

  @media screen and (max-width: 768px) {
    height: auto;
  }
  /* height: auto; */
}

.team-banner-title {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
}

.team-banner-title h2 {
  font-size: clamp(26px, 4vw, 72px);
}

.team-banner-title p {
  font-size: clamp(13px, 4vw, 32px);
  font-weight: 500;
}

.team-banner-section .sub-content p {
  font-size: clamp(18px, 4vw, 36px);
  font-weight: 500;
}

/* gallery section */

.team-moments-wrapper {
  background-color: #202124;
  padding: 20px 0;
  color: white;
}

.team-moments {
  margin: 40px 60px;
}

.team-moments .team-content {
  text-align: center;
  margin-bottom: 30px;
}

.team-moments .team-content h2 {
  font-size: clamp(26px, 4vw, 72px);
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.team-moments .team-content p {
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 400;
}

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gallery .tall {
  grid-row: span 2;
}

/* RESPONSIVE */

@media (max-width: 1080px) {
  .team-banner-section {
    margin: 0 32px;
    gap: 30px;
  }

  .team-moments {
    margin: 40px 30px;
  }
}
@media (max-width: 768px) {
  .team-banner-section {
    margin: 0 24px;
    gap: 16px;
  }

  .team-banner-title {
    top: 50%;
  }

  .team-moments {
    margin: 40px 24px;
  }
}
@media (max-width: 480px) {
  .team-banner-section {
    margin: 0 16px;
  }

  .team-moments {
    margin: 40px 16px;
  }
}
