/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./node_modules/react-phone-number-input/style.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
/* CSS variables. */
:root {
	--PhoneInput-color--focus: #03b2cb;
	--PhoneInputInternationalIconPhone-opacity: 0.8;
	--PhoneInputInternationalIconGlobe-opacity: 0.65;
	--PhoneInputCountrySelect-marginRight: 0.35em;
	--PhoneInputCountrySelectArrow-width: 0.3em;
	--PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
	--PhoneInputCountrySelectArrow-borderWidth: 1px;
	--PhoneInputCountrySelectArrow-opacity: 0.45;
	--PhoneInputCountrySelectArrow-color: currentColor;
	--PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
	--PhoneInputCountrySelectArrow-transform: rotate(45deg);
	--PhoneInputCountryFlag-aspectRatio: 1.5;
	--PhoneInputCountryFlag-height: 1em;
	--PhoneInputCountryFlag-borderWidth: 1px;
	--PhoneInputCountryFlag-borderColor: rgba(0,0,0,0.5);
	--PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
	--PhoneInputCountryFlag-backgroundColor--loading: rgba(0,0,0,0.1);
}

.PhoneInput {
	/* This is done to stretch the contents of this component. */
	display: flex;
	align-items: center;
}

.PhoneInputInput {
	/* The phone number input stretches to fill all empty space */
	flex: 1 1;
	/* The phone number input should shrink
	   to make room for the extension input */
	min-width: 0;
}

.PhoneInputCountryIcon {
	width: calc(var(--PhoneInputCountryFlag-height) * var(--PhoneInputCountryFlag-aspectRatio));
	height: var(--PhoneInputCountryFlag-height);
}

.PhoneInputCountryIcon--square {
	width: var(--PhoneInputCountryFlag-height);
}

.PhoneInputCountryIcon--border {
	/* Removed `background-color` because when an `<img/>` was still loading
	   it would show a dark gray rectangle. */
	/* For some reason the `<img/>` is not stretched to 100% width and height
	   and sometime there can be seen white pixels of the background at top and bottom. */
	background-color: var(--PhoneInputCountryFlag-backgroundColor--loading);
	/* Border is added via `box-shadow` because `border` interferes with `width`/`height`. */
	/* For some reason the `<img/>` is not stretched to 100% width and height
	   and sometime there can be seen white pixels of the background at top and bottom,
	   so an additional "inset" border is added. */
	box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor),
		inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor);
}

.PhoneInputCountryIconImg {
	/* Fixes weird vertical space above the flag icon. */
	/* https://gitlab.com/catamphetamine/react-phone-number-input/-/issues/7#note_348586559 */
	display: block;
	/* 3rd party <SVG/> flag icons won't stretch if they have `width` and `height`.
	   Also, if an <SVG/> icon's aspect ratio was different, it wouldn't fit too. */
	width: 100%;
	height: 100%;
}

.PhoneInputInternationalIconPhone {
	opacity: var(--PhoneInputInternationalIconPhone-opacity);
}

.PhoneInputInternationalIconGlobe {
	opacity: var(--PhoneInputInternationalIconGlobe-opacity);
}

/* Styling native country `<select/>`. */

.PhoneInputCountry {
	position: relative;
	align-self: stretch;
	display: flex;
	align-items: center;
	margin-right: var(--PhoneInputCountrySelect-marginRight);
}

.PhoneInputCountrySelect {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	border: 0;
	opacity: 0;
	cursor: pointer;
}

.PhoneInputCountrySelect[disabled],
.PhoneInputCountrySelect[readonly] {
	cursor: default;
}

.PhoneInputCountrySelectArrow {
	display: block;
	content: '';
	width: var(--PhoneInputCountrySelectArrow-width);
	height: var(--PhoneInputCountrySelectArrow-width);
	margin-left: var(--PhoneInputCountrySelectArrow-marginLeft);
	border-style: solid;
	border-color: var(--PhoneInputCountrySelectArrow-color);
	border-top-width: 0;
	border-bottom-width: var(--PhoneInputCountrySelectArrow-borderWidth);
	border-left-width: 0;
	border-right-width: var(--PhoneInputCountrySelectArrow-borderWidth);
	transform: var(--PhoneInputCountrySelectArrow-transform);
	opacity: var(--PhoneInputCountrySelectArrow-opacity);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon + .PhoneInputCountrySelectArrow {
	opacity: 1;
	color: var(--PhoneInputCountrySelectArrow-color--focus);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
	box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor--focus),
		inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor--focus);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon .PhoneInputInternationalIconGlobe {
	opacity: 1;
	color: var(--PhoneInputCountrySelectArrow-color--focus);
}
/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
root {
  --services-hover-color: #303030;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #f2f2f2;
}

/* scroll button in banner */

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-animation {
  animation: scrollAnimation 2s ease infinite;
}

@keyframes gravityIcon1 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(15px) rotate(10deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes gravityIcon2 {
  0% {
    transform: translateY(0) rotate(10);
  }
  50% {
    transform: translateY(15px) rotate(20deg);
  }
  100% {
    transform: translateY(0) rotate(10deg);
  }
}

@keyframes gravityIcon3 {
  0% {
    transform: translateY(0) rotate(30deg);
  }
  50% {
    transform: translateY(15px) rotate(40deg);
  }
  100% {
    transform: translateY(0) rotate(30deg);
  }
}

.gravity-icon:nth-child(1) {
  animation: gravityIcon1 10s ease infinite;
}

.gravity-icon:nth-child(2) {
  animation: gravityIcon2 10s ease infinite;
}

.gravity-icon:nth-child(3) {
  animation: gravityIcon3 10s ease infinite;
}

.hero-scroll-icon-div {
  display: flex;
  align-items: center;
  gap: 12px;

  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.hero-scroll-icon-div.hide {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

/* default button */

.default-button {
  padding: 12px 16px;
  border-radius: 8px;
  border: solid 1px #000;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  background-color: transparent;
}

.light-bg-btn {
  border: solid 1px #000;
  color: #000;
}

.light-bg-btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s all;
}

.dark-bg-btn {
  border: solid 1px #fff;
  color: white;
}

.dark-bg-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s all;
}

@media (max-width: 768px) {
  .light-bg-btn:hover {
    background-color: initial;
    color: #000;
    transition: none;
  }

  .dark-bg-btn:hover {
    background-color: initial;
    color: white;
    transition: none;
  }
}

/* section title  */

.section-title {
  margin-bottom: 10px;
}

.section-title h2 {
  font-size: 72px;
  font-weight: 500;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    /* font-size: 48px; */
    font-size: 32px;
    font-weight: 500;
    line-height: 63px;
  }
}

/* default-input-Fields */

.default-input {
  width: 100%;

  display: grid;
  grid-gap: 8px;
  gap: 8px;

  font-size: 16px;
  font-weight: 400;
}

.default-input label {
  text-transform: capitalize;
}

.default-input input {
  height: 70px;
  padding-left: 24px;
  font-size: 16px;
  outline: none;

  border-radius: 8px;
  border: 0.5px solid #000;
}

/* .textarea-icon-input */

.default-input textarea {
  height: 186px;
  padding: 24px;
  font-size: 16px;
  outline: none;

  border-radius: 8px;
  border: 0.5px solid #000;
}

/* .files-upload-input */

.default-input .files-input {
  height: 107px;
  padding-left: 24px;
  font-size: 16px;
  outline: none;

  border-radius: 8px;
  border: 0.5px dashed #000;
  line-height: 107px;
}

/* .country-icon-input */

.default-input.with-icon .input-container {
  position: relative;
}

.default-input.with-icon .country-icon {
  display: flex;
  align-items: center;
  gap: 28px;

  height: 70px;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
  border: 0.5px solid #000;
}

.default-input.with-icon input {
  border: 1px solid black;

  height: 68px;
  border: none;
}

.flag-border-checkout {
  outline: none;
  border-radius: 8px;
  width: 100%;
  background-color: #fff;
  padding-left: 16px;
}

/* Pagination styles start*/

.pagination-section {
  width: 100%;
  display: flex;
  /* justify-content: end; */
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 768px) {
    justify-content: center;
  }
}

.custom-pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  font-size: 18px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.custom-pagination-item {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;

  @media screen and (max-width: 768px) {
    margin: 0 5px;
  }
}

.custom-pagination-active {
  background-color: #f7931e;
  color: #fff;
}
/* Pagination styles end*/

/* read-full-btn */

.read-full-btn {
  display: flex;
  /* justify-content: start; */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  cursor: pointer;
}

.read-full-btn p {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 20px;
  border-bottom: 1px solid;
}

/* **********************************
              DropDown
********************************** */

.drop-down-section {
  position: relative;
  display: inline-block;

  z-index: 1;
}

.drop-down-section button {
  display: flex;
  align-items: center;
  gap: 14px;

  background-color: #fff;
  text-transform: capitalize;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  padding: 16px;

  font-size: 16px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    padding: 12px;
    font-size: 14px;
  }
}

.drop-down-section button p {
  text-transform: capitalize;
}

.dropdown-menu {
  /* min-width: 353px; */
  min-width: 300px;
  position: absolute;
  top: 100%;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-5%);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  background-color: #ffffff;
  list-style-type: none;
  margin-top: 8px;

  border-radius: 4px;
  border: 0.5px solid #000000;

  @media screen and (max-width: 768px) {
    margin-top: 4px;
  }
}

.dropdown-menu.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

.dropdown-menu li {
  display: flex;
  align-items: center;

  font-size: 16px;
  height: 45px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0px 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    padding: 0px 12px;
  }
}

.dropdown-menu li:first-child {
  height: 60px;
  padding-top: 16px;

  @media screen and (max-width: 768px) {
    padding-top: 12px;
  }
}

.dropdown-menu li:last-child {
  height: 60px;
  padding-bottom: 16px;

  @media screen and (max-width: 768px) {
    padding-bottom: 12px;
  }
}

.dropdown-menu li:hover {
  background-color: #8787871d;
}

/* **********************************
          Services DropDown
********************************** */

.form-drop-down-section {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 1;
}

.form-drop-down-section div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  width: 100%;

  background-color: #fff;
  text-transform: capitalize;
  border: 1px solid #000;
  border-radius: 8px;
  cursor: pointer;
  padding: 2px 16px;

  font-size: 16px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    padding: 16px;
    font-size: 14px;
  }
}

.form-drop-down-section div p {
  font-size: 16px;
  font-weight: 400;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  text-transform: capitalize;
}

.form-dropdown-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-5%);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  background-color: #ffffff;
  list-style-type: none;
  margin-top: 8px;

  border-radius: 4px;
  border: 0.5px solid #000000;

  @media screen and (max-width: 768px) {
    margin-top: 4px;
  }
}

.form-dropdown-menu.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

.form-dropdown-menu li {
  display: flex;
  align-items: center;

  font-size: 16px;
  height: 45px;
  text-transform: capitalize;
  cursor: pointer;
  padding: 0px 16px;

  @media screen and (max-width: 768px) {
    font-size: 14px;
    padding: 0px 12px;
  }
}

.form-dropdown-menu li:first-child {
  height: 60px;
  padding-top: 16px;

  @media screen and (max-width: 768px) {
    padding-top: 12px;
  }
}

.form-dropdown-menu li:last-child {
  height: 60px;
  padding-bottom: 16px;

  @media screen and (max-width: 768px) {
    padding-bottom: 12px;
  }
}

.form-dropdown-menu li:hover {
  background-color: #8787871d;
}

/* ********************************
        page transition
******************************** */

.page-transition {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ***************************
      scroll-animated-ref
*************************** */

.visible-section {
  opacity: 0;
  transition: transform 2s ease, opacity 1s ease;
}

.visible-section.animated-ref {
  opacity: 1;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/contact/contact.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.contact-contact-section {
  margin: 180px 60px;

  @media screen and (max-width: 768px) {
    margin: 60px 24px;
  }
}

.contact-form-section {
  display: grid;
  grid-gap: 60px;
  gap: 60px;
  @media screen and (max-width: 768px) {
    gap: 32px;
  }
}

.contact-form-section p {
  font-size: 48px;
  font-weight: 500;
  line-height: 63px;

  justify-self: start;

  @media screen and (max-width: 768px) {
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
  }
}
.contact-form-div {
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  gap: 200px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
}

.contact-form-div .contact-form-icon {
  width: 291px;
  height: 300px;
  @media screen and (max-width: 768px) {
    width: 191px;
    height: 200px;
    /* display: none; */
  }
}

.contact-form-div .contact-form-icon .ring-1 {
  animation: ring1 5s linear infinite;
}

.contact-form-div .contact-form-icon .ring-2 {
  animation: ring2 4.5s linear infinite;
}

.contact-form-div .contact-form-icon .ring-3 {
  animation: ring3 4s linear infinite;
}

@keyframes ring1 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes ring2 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes ring3 {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.contact-form {
  display: grid;
  grid-gap: 24px;
  gap: 24px;
  width: 50%;

  @media screen and (max-width: 768px) {
    width: 100%;
    gap: 12px;
  }
}

.contact-form span {
  display: flex;
  gap: 24px;

  @media screen and (max-width: 768px) {
    display: grid;
    grid-gap: 12px;
    gap: 12px;
  }
}

.contact-form button {
  width: 203px;
  height: 45px;
  padding: 12px 16px 12px 16px;
  border-radius: 8px;
  gap: 10px;
  border: none;
  background-color: #000000;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  justify-self: right;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

/* .contact-form-div .contact-form-icon .ring-1 {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5%);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.contact-form-div .contact-form-icon .ring-1.ring {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}

.contact-form-div .contact-form-icon .ring-2 {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5%);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.contact-form-div .contact-form-icon .ring-2.ring {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
}
.contact-form-div .contact-form-icon .ring-3 {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-5%);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.contact-form-div .contact-form-icon .ring-3.ring {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0px);
} */

